@using Tapas.Backend.Core.Areas.Backend.ViewModels.Menu
@model Tapas.Backend.Core.Areas.Backend.ViewModels.Menu.MenuGroupViewModel

@functions
{
    bool IsActive( IEnumerable<MenuItemViewModel> menuItems )
    {
        return menuItems.Any( x => Context.Request.Path.ToString().Contains( x.Url ) );
    }

}

<li class="@( IsActive( Model.MenuItems ) ? "active open" : string.Empty )" >
    <a href="" >
        <i class="@( Model.CssClass )" ></i> @( Model.DisplayText )
        <i class="arrow fa" ></i>
    </a>
    <ul class="sidebar-nav" >
        @foreach ( var menuItem in Model.MenuItems )
        {
            @await Html.PartialAsync( "Components/Menu/_MenuItem", menuItem )
        }
    </ul>
</li>