@{
    ViewData[ "Title" ] = "Manage Pages";
    Layout = "_BareLayout";
}

@section Styles{
    <link asp-append-version="true" href="~/backend/css/grapes.min.css" rel="stylesheet" />

    <style type="text/css" >
        body,
        html {
            height: 100%;
            margin: 0;
        }
    </style>
}

<div id="gjs" style="height: 0px; overflow: hidden" >
</div>

@section Scripts{
    <script asp-append-version="true" src="~/backend/js/grapes.min.js" ></script>
    <script type="text/javascript" >
        const editor = grapesjs.init( {
            fromElement: 1,
            height: '100%',
            container: '#gjs',
            avoidInlineStyle: 1,
            autoload: 1,
            storageManager: {
                type: 'remote',
                autosave: false,
                urlLoad: '@Url.Action("Load", "Pages", new { area = "Backend", filePath = "abc123" })',
                contentTypeJson: true
            }
        } );

//        // Make private already inserted selectors
//        editor.SelectorManager.getAll().each( selector => selector.set( 'private', 1 ) );
//
//        // All new selectors will be private
//        editor.on( 'selector:add', selector => selector.set( 'private', 1 ) );
    </script>
}