@using Tapas.Authentication.Models
@model LoginViewModel
@{
    ViewData[ "Title" ] = "Login";
}

<h3>Login</h3>

<form asp-action="Login" asp-controller="User" method="post" >
    <div asp-validation-summary="All" ></div>

    <input type="text" asp-for="Username " placeholder="Username" />
    <input type="password" asp-for="Password " placeholder="Password" />
    <input type="submit" value="Login" />
</form>